<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>onlineTest</display-name>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.action.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOutAction</servlet-name>
    <servlet-class>com.action.LogOutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutAction</servlet-name>
    <url-pattern>/LogOutAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegCheck</servlet-name>
    <servlet-class>com.action.RegCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegCheck</servlet-name>
    <url-pattern>/RegCheck</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeptAction</servlet-name>
    <servlet-class>com.action.DeptAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptAction</servlet-name>
    <url-pattern>/admin/DeptAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SubjectAction</servlet-name>
    <servlet-class>com.action.SubjectAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectAction</servlet-name>
    <url-pattern>/admin/SubjectAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>JudgeQuesAction</servlet-name>
    <servlet-class>com.action.JudgeQuesAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JudgeQuesAction</servlet-name>
    <url-pattern>/admin/JudgeQuesAction</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>SingleQuesAction</servlet-name>
    <servlet-class>com.action.SingleQuesAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleQuesAction</servlet-name>
    <url-pattern>/admin/SingleQuesAction</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>MultiQuesAction</servlet-name>
    <servlet-class>com.action.MultiQuesAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiQuesAction</servlet-name>
    <url-pattern>/admin/MultiQuesAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MultiAddBatch</servlet-name>
    <servlet-class>com.action.MultiAddBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiAddBatch</servlet-name>
    <url-pattern>/admin/MultiAddBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleAddBatch</servlet-name>
    <servlet-class>com.action.SingleAddBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleAddBatch</servlet-name>
    <url-pattern>/admin/SingleAddBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JudgeAddBatch</servlet-name>
    <servlet-class>com.action.JudgeAddBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JudgeAddBatch</servlet-name>
    <url-pattern>/admin/JudgeAddBatch</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ExamAction</servlet-name>
    <servlet-class>com.action.ExamAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamAction</servlet-name>
    <url-pattern>/admin/ExamAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PracAction</servlet-name>
    <servlet-class>com.action.PracAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PracAction</servlet-name>
    <url-pattern>/admin/PracAction</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>InfoUpdateCheck</servlet-name>
    <servlet-class>com.action.InfoUpdateCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoUpdateCheck</servlet-name>
    <url-pattern>/InfoUpdateCheck</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PassWdCheck</servlet-name>
    <servlet-class>com.action.PassWdCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassWdCheck</servlet-name>
    <url-pattern>/PassWdCheck</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>InPracAction</servlet-name>
    <servlet-class>com.action.InPracAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InPracAction</servlet-name>
    <url-pattern>/inTest/InPracAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DoQuesAction</servlet-name>
    <servlet-class>com.action.DoQuesAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoQuesAction</servlet-name>
    <url-pattern>/inTest/DoQuesAction</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ClickQuesAction</servlet-name>
    <servlet-class>com.action.ClickQuesAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClickQuesAction</servlet-name>
    <url-pattern>/inTest/ClickQuesAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HandInPrac</servlet-name>
    <servlet-class>com.action.HandInPrac</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandInPrac</servlet-name>
    <url-pattern>/inTest/HandInPrac</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>InExamAction</servlet-name>
    <servlet-class>com.action.InExamAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InExamAction</servlet-name>
    <url-pattern>/inTest/InExamAction</url-pattern>
  </servlet-mapping>

<listener>
  <listener-class>com.resource.DBConnection</listener-class>
 </listener>
<listener>
  <listener-class>com.resource.Cache</listener-class>
 </listener>

<filter>
    <filter-name>AdminVerifyFilter</filter-name>
    <filter-class>com.filter.AdminVerifyFilter</filter-class>
</filter>

<filter-mapping>
    <filter-name>AdminVerifyFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
</filter-mapping>

<filter>
    <filter-name>ExamineeVerifyFilter</filter-name>
    <filter-class>com.filter.ExamineeVerifyFilter</filter-class>
</filter>

<filter-mapping>
    <filter-name>ExamineeVerifyFilter</filter-name>
    <url-pattern>/examinee/*</url-pattern>
</filter-mapping>
<filter-mapping>
    <filter-name>ExamineeVerifyFilter</filter-name>
    <url-pattern>/inTest/*</url-pattern>
</filter-mapping>

</web-app>